<ion-view title='<div class="logo"></div>' class="home center">

    <ion-content class="padding">
<br>
<img src="img/done.png">
        
        
        <div class="titleinstructions">Routine Complete</div>
        
<p>Tap the button below to return to the mainscreen.

</p>
<p>Tip: Use myMat three times a day for ideal results.</p>
        <br><br>
                        <a class="greenbtn" menu-close nav-transition="ios" nav-direction="forward" href="#/app/routines">MAIN SCREEN</a>

            
    </ion-content>
</ion-view>

