<ion-view title='<div class="logo"></div>' class="home center">

    <ion-content class="padding">

        <div class="list card cardprogram">

            <div class="item">

                <h2>Forgot Password</h2>

            </div>

                       <div class="item item-body">
                <div class="">Dont Worry</div>
                <p class="lorems">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>

                <label class="item-input">
                    <input type="text" ng-model="user.email" placeholder="Email">
                </label>
                <br>

                <button ng-click="sendPasswordReminder()" class="button button-calm">
                    Recover your password
                </button>
                <br>
<br>
                <ion-item class="menuitemintern" nav-transition="ios" nav-direction="forward" href="#/app/createaccount">
                    REGISTER
                </ion-item>

                <ion-item class="menuitemintern" nav-transition="ios" nav-direction="forward" href="#/app/login">
                    LOGIN
                </ion-item>

            </div>
        </div>

    </ion-content>