<ion-view title='<div class="logo"></div>' class="home center">

    <ion-content class="padding">

        <div class="list card cardprogram">

            <div class="item">

                <h2 translate="forgot-password">Forgot Password</h2>

            </div>

                       <div class="item item-body">
                <div class="" translate="dont-worry">Dont Worry</div>
                <p class="lorems lorems-content" translate="introduce-email">
                    Introduce your email under your account
                </p>
                <form ng-submit="sendPasswordReminder()">
                <label class="item-input">
                    <input class="email-text" type="text" ng-model="user.email" placeholder="Email">
                    <p class="lorems lorems-content" style="display:none;" id="email-sent" translate="email-sent"></p>
                </label>
                <br/>

                <button type="submit" class="button button-calm recover-button" translate="recover-password">
                    Recover your password
                </button>
                </form>
                <br/>
                <br/>
                <ion-item translate="register-link" class="menuitemintern" nav-transition="ios" nav-direction="forward" href="#/app/createaccount">
                    REGISTER
                </ion-item>

                <ion-item class="menuitemintern" nav-transition="ios" nav-direction="back" href="#/app/login">
                    LOGIN
                </ion-item>

            </div>
        </div>

    </ion-content>