<ion-view class="setup">


    <ion-content class="center padding">
        <br>
        <br>
        <br>
        <br>
        <img src="img/logosetup.png" width="80%">
        <br>
        <br>
        <p translate="welcome"> Welcome to MyMat app.</p> 
        <br>
        <br>
<!--        <a class="bluebtn" menu-close nav-transition="ios" nav-direction="forward" href="#/app/createaccount">Setup your user</a>-->
        <a class="bluebtn" menu-close nav-transition="ios" nav-direction="forward" href="#/app/routines" translate="continue">Continue</a>
    </ion-content>
</ion-view>