<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" align-title="center">
            <ion-nav-buttons side="left">
                <!--
          <button class="button ion-chevron-left button-clear"> Back
        </button>
-->
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" ng-show="showMenuButton" ng-click="toggleSidemenu()">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">

        <ion-content class="menu">
            <ion-list>

                <div class="menutitle"><img src="img/logomenu.png"></div>



                <ion-item class="menuitemhome" menu-close ng-click="switchLang('{{ changeLangCode }}')">
                    {{ changeLang }}
                </ion-item>
                
                <ion-item class="menuitemhome" menu-close href="#/app/routines">
                    HOME
                </ion-item>

                <!-- <ion-item class="menuitemmyaccount" menu-close href="#/app/login">
        MY ACCOUNT
        </ion-item>
          
         <ion-item class="menuitemusers" menu-close href="#/app/users">
          USERS
        </ion-item>
          
          <ion-item class="menuitemprograms" menu-close href="#" ng-click="modal.show()">
          BROWSE ALL PROGRAMS
        </ion-item>

          
        <ion-item class="menuitemfav" menu-close href="#/app/favorites">
          FAVORITE ROUTINES
        </ion-item>
          
                  <ion-item class="menuitemlanguages" menu-close href="#/app/languages">
          LANGUAGES

        </ion-item>
-->
                <ion-item class="menuitemhelp" menu-close href="#/app/help" translate="help">
                  HELP
                </ion-item>

                <ion-item class="menuitemcontact" menu-close href="#/app/contactus" translate="contact-us">
                    CONTACT US
                </ion-item>

                <div class="logofooter">
                    <img src="img/menufooter.png">
                </div>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>