<ion-view title='<div class="logo">1</div>' class="home center">

    <ion-content class="padding">

        <!--<audio id="successSound" src="audio/end.wav"></audio>-->
        <div class="list card">

            <div class="item">

                <h2 translate="running-time">Running Time</h2>
                <h3 style="color:white;">{{ displayRunningTime }}</h3 style="color:white;">
             
            </div>
 
            <div class="item item-body">
                <div class="program-running-left">
                <div class="program-running-title">{{ program1[1] }}</div>
                <div class="program-running-duration">{{ program1CurrentTimeDecreasingAsTime }}</div>
                </div>
                
                <!--<div class="program-running-right">
                <div class="program-running-progress" >
                   <div
    round-progress
    max="program1[2]"
    current="program1CurrentTime"
    color="#ACD9ED"
    bgcolor="#1671A1"
    radius="100"
    stroke="25"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="true"
    duration="0"
    animation="linearEase"></div>

                </div>
                </div>-->
            </div>
            
            <div class="item item-body">
                <div class="program-running-left">
                <div class="program-running-title">{{ program2[1] }}</div>
                <div class="program-running-duration">{{  program2CurrentTimeDecreasingAsTime }}</div>
                </div>
                 
                <!--<div class="program-running-right">
                <div class="program-running-progress">                   <div
    round-progress
    max="program2[2]"
    current="program2CurrentTime"
    color="#E2F1F8"
    bgcolor="#1671A1"
    radius="100"
    stroke="25"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="true"
    duration="0"
    animation="linearEase"></div></div>
                </div>-->
            </div>

             <div class="item item-body">
                <div class="program-running-left">
                <div class="program-running-title">{{ program3[1] }}</div>
                <div class="program-running-duration">{{  program3CurrentTimeDecreasingAsTime }}</div>
                </div>
                
                <!--<div class="program-running-right">
                <div class="program-running-progress">                   <div
    round-progress
    max="program3[2]"
    current="program3CurrentTime"
    color="#ACD9ED"
    bgcolor="#1671A1"
    radius="100"
    stroke="25"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="true"
    duration="0"
    animation="linearEase"></div></div>
                </div>-->
            </div>
            
            <div class="item item-body">
                <div class="program-running-left">
                <div class="program-running-title">{{ program4[1] }}</div>
                <!--<div class="program-running-category">Category:</div>-->
                <div class="program-running-duration">{{  program4CurrentTimeDecreasingAsTime }}</div>
                </div>
                
                <!--<div class="program-running-right">
                <div class="program-running-progress">
                 
                   <div
    round-progress
    max="program4[2]"
    current="program4CurrentTime"
    color="#E2F1F8"
    bgcolor="#1671A1"
    radius="100"
    stroke="25"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="true"
    duration="0"
    animation="linearEase"></div>
                </div>
            </div>-->


        </div>
            <br>
            <!--<div class="nowplaying-cancel-button redbtn">
                <a nav-direction="back" ng-href="#/app/routines">Cancel Routine</a>
            </div>-->
    </ion-content>
</ion-view>


    
    

<script>
   // $.post( "http://192.168.1.3/start.htm?P1=Backache&P2=Circulatory_System&P3=Digestive_System&P4=Detoxification", function( data ) {
 // $( ".result" ).html( data );
//});

</script>
 