


<ion-modal-view class="modal second-modal">

<!--<div class="modal-program-info-wrapper">

</div>-->

<ion-content>


    <div class="program-info-modal-holder">

     
        <div class="program-info-modal-header">

        	<div class="program-info-modal-title">
        		{{ modalProgramName }} <br/>

        	</div>

          <div ng-click="closeProgramInfoModal()" class="program-info-modal-close-button">
             X
          </div>

        	<div class="program-info-modal-running-time">
                 
                 {{ modalProgramRunningTime  }} 
        	</div>

        </div>
       
        <div class="program-info-modal-mainbody">
            
             <ion-scroll style="height:100%;">
                    <div style="height:100%; line-height:25px;" ng-bind-html="modalProgramDescription">
                    
                </div>
               </ion-scroll>

        </div>

        <div class="program-info-modal-button-holder">
              <button class="greenbtn" menu-close nav-transition="ios" nav-direction="forward" ng-click="addProgramToRoutine(modalProgramId, modalProgramName, modalProgramRunningTime)" href="#">ADD PROGRAM</button>
        </div>
       


    </div>


</ion-content>

