<ion-view title='<div class="logo"></div>' class="home center">

    <ion-content class="padding">
        <br>
        <div class="activate-wifi-container">
            <img src="img/wifi.png">
            <div class="titleinstructions" translate="please-pair">PLEASE PAIR YOUR <br> MYMAT</div>
            <br>  
            <p translate="activate-wifi">Steps to pair your MyMat</p>
            <p translate="activate-wifi-1">1. Turn on your MyMat</p>
            <p translate="activate-wifi-2">2. On your device, navigate to your Wi-Fi settings</p>
            <p translate="activate-wifi-3">3. Connect your device's WiFi with your MyMat network</p>
            <p translate="activate-wifi-4">4. Once is connected, return to the MyMat app</p>
            <!--<p class="interval-counter">0</p>-->
            <br/>
            <div class="no-status-container" style="display:none;">
                <p translate="no-detect-1">We were unable to detect your MyMat</p>
                <p translate="no-detect-2">Please follow the steps to do so</p>
            </div>
            <img src="img/loading.gif" width="200" />
        </div>
        <div class="mymat-status-container" style="display:none;">
            <div class="status-table divTable">
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead divTableCellFirstLeft">
                            <h4 translate="battery-power"></h4>
                        </div>
                        <div class="divTableHead divTableCellFirstRight">
                            <h4 id="battery">0% <img id="batteryImg" height="16"></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell">{{ coilText }} 1</div>
                        <div class="divTableCell" id="coil1">N/A</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell coilOdd">{{ coilText }} 2</div>
                        <div class="divTableCell coilOdd" id="coil2">N/A</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell">{{ coilText }} 3</div>
                        <div class="divTableCell" id="coil3">N/A</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell coilOdd divTableCellLastLeft">{{ coilText }} 4</div>
                        <div class="divTableCell coilOdd divTableCellLastRight" id="coil4">N/A</div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <a class="greenbtn start-routine" menu-close nav-transition="ios" nav-direction="forward" href="#/app/nowplaying" translate="start-routine">LAUNCH MYMAT</a>
        </div>
    </ion-content>
</ion-view>

