<ion-view title='<div class="logo"></div>' class="home center">

    <ion-content class="padding">
<br>
<img src="img/wifi.png">
        
        
        <div class="titleinstructions">PLEASE PAIR YOUR <br> MYMAT</div>
<br>  
<p>Press your phone’s home button, and navigate to your Wi-Fi settings.</p>
<p>Select the MyMat Network and verify the connection is established.</p>
<br>
                        <a class="greenbtn" menu-close nav-transition="ios" nav-direction="forward" href="#/app/nowplaying">LAUNCH MYMAT</a>

            
    </ion-content>
</ion-view>

