<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.esferasoluciones.mymat-light"
        version   = "7.2.9"
        versionCode = "36">
    <!--<widget id="io.ionic.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">-->
    <name>MyMat - Light 7</name>
    <description>My Mat</description>
    <author href="https://www.esferasoluciones.com" email="lsanchez@esferasoluciones.com">
        Luis Ricardo Sánchez.
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.SplashScreen" />
    </feature>
    <allow-navigation href="http://ionic.local/*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <preference name="prerendered-icon" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="FadeSplashScreenDuration" value="300"/>
    <preference name="SplashShowOnlyFirstTime" value="false"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        
        <icon src="resources/android/icon/ldpi.png" density="ldpi" />
        <icon src="resources/android/icon/mdpi.png" density="mdpi" />
        <icon src="resources/android/icon/hdpi.png" density="hdpi" />
        <icon src="resources/android/icon/xhdpi.png" density="xhdpi" />
        <icon src="resources/android/icon/xxhdpi.png" density="xxhdpi" />
        <icon src="resources/android/icon/xxxhdpi.png" density="xxxhdpi" />     
        
        <splash src="resources/android/splash/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="resources/android/splash/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="resources/android/splash/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="resources/android/splash/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="resources/android/splash/splash-port-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="resources/android/splash/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
        <preference name="loadUrlTimeoutValue" value="700000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        
        <icon src="resources/ios/icon/icon-16@1x.png" width="16" height="16"/>
        <icon src="resources/ios/icon/icon-16@2x.png" width="32" height="32"/>
        <icon src="resources/ios/icon/icon-16@3x.png" width="48" height="48"/>
        <icon src="resources/ios/icon/icon-29@1x.png" width="29" height="29"/>
        <icon src="resources/ios/icon/icon-29@2x.png" width="58" height="58"/>
        <icon src="resources/ios/icon/icon-29@3x.png" width="87" height="87"/>
        <icon src="resources/ios/icon/icon-40@1x.png" width="40" height="40"/>
        <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80"/>
        <icon src="resources/ios/icon/icon-50@1x.png" width="50" height="50"/>
        <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100"/>
        <icon src="resources/ios/icon/icon-55@1x.png" width="55" height="55"/>
        <icon src="resources/ios/icon/icon-57@1x.png" width="57" height="57"/>
        <icon src="resources/ios/icon/icon-57@2x.png" width="114" height="114"/>
        <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120"/>
        <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180"/>
        <icon src="resources/ios/icon/icon-64@1x.png" width="64" height="64"/>
        <icon src="resources/ios/icon/icon-64@2x.png" width="128" height="128"/>
        <icon src="resources/ios/icon/icon-72@1x.png" width="72" height="72"/>
        <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144"/>
        <icon src="resources/ios/icon/icon-76@1x.png" width="76" height="76"/>
        <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152"/>
        <icon src="resources/ios/icon/icon-88@1x.png" width="88" height="88"/>
        
        <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
        <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
        <splash src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>
        <splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>    
    </platform>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
    <plugin name="cordova-plugin-whitelist" spec="1.3.1"/>
    <plugin name="cordova-plugin-console" spec="1.0.5"/>
    <plugin name="cordova-plugin-statusbar" spec="2.2.1"/>
    <plugin name="cordova-plugin-device" spec="1.1.4"/>
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1"/>
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <plugin name="cordova-plugin-file"  source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <!--<engine name="ios" spec="~4.4.0"/>
    <engine name="android" spec="~6.2.3"/>-->
</widget>