/* Empty. Add your own CSS if you like */

.logo {
    width: 120px;
    height: 65px;
    background-image: url(../img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9999;
    position: relative;
    top: 0;
    margin-top:0px;
    display: inline-block;
}

.bar {
    min-height: 90px;
    background-color: #262261!important;
}

.bar .title {
    height: auto!important;
    transform: translate3d(0px, 0px, 0px) !important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    color: #FFF!important;
    text-align: center
}

.right-buttons {

    margin-top:0px;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFF;
    font-size: 22px!important;
}

.bar-subheader{

margin-top: 25px !important;}


.card {
    margin: 20px 40px;
}

.button {
    display: inline-block;
}

.lorems {
    color: #999!important;
    font-size: 12px!important;
    text-align: center!important;
    padding: 10px;
    margin-top: 0px!important;
}
.lorems-content{
    font-size:15px!important; 
    color: #121212!important;
}

.item-select select.gray-bg{
    background-color: #f1f1f1 !important;
}

hr {
    border: 1px solid #FFF!important;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-content {
    color: #6D6E70;
    border: none;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position: 97% 15px;
    background-size: 20px;
}

.item {
    border: none;
    color: #666;
    opacity: 0.8;
}

.opacity-50 {
    opacity: 0.5;
}
.item:nth-child(even) {
    background-color: #fff !important;
}

.item:nth-child(odd) {
    background-color: #BBE1F1 !important;
}

.item-complex .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: transparent;
}

.programlist {}

.center {
    text-align: center;
    color: #FFF;
}

.center-forced {
    text-align: center!important;
}

.padding {
    padding: 30px;
    padding-top: 50px;
}

.paddingmodal {
    padding: 30px;
    padding-top: 20px;
}




.input-label {
    color: #999!important;
    text-align: left;
    font-size: 14px!important;
}

input {
color: #000 !important;
background-color: #f1f1f1 ! important;
background-image: url(../img/fondoinput.png);
background-repeat: repeat;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
    opacity: 0.8
}

.menusearch input {
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: thin solid #D1D2D4;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

input.routinename{
width: 185px;
padding: 0px 20px;
margin-bottom: 20px !important;
margin-top: 20px !important;
margin: auto;
position: relative;
left: -2px !important;
    font-size: 12px;
}

.item.item-input.item-select.small {
    width: 100px !important;
}

.item.item-input.item-select {
    border-radius: 5px;
    color: #999;
    height: 36px;
    margin: auto;
    width: 220px;
}

.bluebtn {
    background-color: #262261;
    border: none;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}
.bluebtncancel {
      background-color: #262261;
    border: none;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.greenbtn {
    background-color: #63BB45;
    border: none;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.redbtn a {    text-decoration: none!important;
     color: #FFF!important;
}

.redbtn {
    background-color: #BE1E2D;
    border: none;
    color: #FFF!important;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none!important;
}

.username {
    margin: auto;
    background-image: url(../img/username.png);
    background-position: top left;
    background-size: 140% 100%;
    background-repeat: no-repeat;
    padding-left: 50px!important;
}

.email {
    margin: auto;
    background-image: url(../img/email.png);
    background-position: top left;
    background-size: 140% 100%;
    background-repeat: no-repeat;
    padding-left: 20px!important;
    width: 220px!important;
}

.gender {
    margin: auto;
    background-image: url(../img/gender.png);
    background-position: top left;
    background-size: 300% 100%;
    background-repeat: no-repeat;
    padding-left: 50px!important;
}

.birth {
    margin: auto;
    background-image: url(../img/birth.png);
    background-position: top left;
    background-size: 140% 100%;
    background-repeat: no-repeat;
    padding-left: 50px!important;
    width: 220px!important;
}
.pass {
    margin: auto;
    background-image: url(../img/pass.png);
    background-position: top left;
    background-size: 140% 100%;
    background-repeat: no-repeat;
    padding-left: 20px!important;
    width: 220px!important;
}

.bubblescontainer{
    margin-bottom:80px;
    width: 275px;
    height: 275px;
    display: inline-block;
}

.bubbles{
background-image: url(../img/empty-bubbles.png);
background-repeat: no-repeat;
margin-top: 75px;
background-size: 100%;
width: 275px;
height: 275px;

}
.empty-single-bubble {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 107px;
    width: 60px;
}
.single-bubble-1-empty {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 107px;
    width: 60px;
}
.single-bubble-1 {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 107px;
    width: 60px;
}
.single-bubble-2 {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 210px;
    margin-top: 50px;
    width: 60px;
}
.single-bubble-3 {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 110px;
    margin-top: 50px;
    width: 60px;
}
.single-bubble-4 {
    background-image: url("../img/single-bubble.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-left: 0;
    margin-top: -170px;
    width: 60px;
}
.bubbles1{
    background-image: url(../img/bubbles1.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 100%;
    width: 275px;
    height: 275px;
display:none
}

.bubbles2{
    background-image: url(../img/bubbles2.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 100%;
    width: 275px;
    height: 275px;
display:none;
}

.bubbles3{
    background-image: url(../img/bubbles3.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 100%;
    width: 275px;
    height: 275px;
display:none;
}

.run{margin-bottom: 20px;}

.bubbles4{
    background-image: url(../img/bubbles4.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 100%;
    width: 275px;
    height: 275px;
display:none;
}

.home {
    background-image: url(../img/fondo.png)!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.setup {
    background-image: url(../img/splashhome.png)!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal {
    background-image: url(../img/fondo.jpg)!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 90px;
}

.success {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    line-height: 24px;
    margin-top: 25px;
}

.menu {
    background-color: #EEF7FD;
}

.menutitle {
    width: 100%;
    text-align: center;
}

.menusearch {
    width: 100%;
    text-align: center;
}





.menutitle img {
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menuitem .item-content {
    background-color: #FFF!important;
}
.menuitemintern .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menuhome.png)!important;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}
.menuitemhome .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menuhome.png)!important;
    border-bottom: thin solid #D1D2D4;

    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemfav .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menufav.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemusers .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menuusers.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemmyaccount .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menuusers.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemprograms .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menubrowse.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemsoft .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menusoftware.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemhelp .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menuhelp.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemlanguages .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menulang.png)!important;
    border-bottom: thin solid #D1D2D4;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitemusers.last .item-content, .menuitemhelp.last .item-content {
    border-bottom: none !important;
}

.menuitemcontact .item-content {
    background-color: #FFF!important;
    background-image: url(../img/menucontact.png)!important;
    padding-left: 50px;
    background-position: top right;
    background-position: 7% 17px;
}

.menuitem {
    border: thin solid #D1D2D4;
}

.logofooter {
    width: 100%;
    text-align: center;
}

.logofooter img {
    margin-top: 25px;
    width: 50%;
}

.success2 {
    font-size: 14px;
    color: #FFF;
    text-align: center;
    line-height: 24px;
    margin-top: 10px;
}

.copyright {
    width: 80%;
    margin: auto;
    text-align:center;
    padding-bottom: 100px;
}

.bubbleexplain {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

.modaltitle {
    background-image: url(../img/fondotitle.png);
    background-position: center center;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.modaldesc {
    margin-bottom: 10px;
    font-size: 12px;
}

.programs {
    height: 150px;
    text-align: center;
    margin-bottom: 15px;
}

.program {
    width: 100px;
    margin-left: 0px;
    display: inline-block;
    margin-right: 0px;
    vertical-align: top;
}

.program img {
    width: 100%;
}

.programdesc {
    width: 100%;
    text-align: center;
}

.program-running-title {
    /*text-align: left;*/
    font-size: 14px;
    text-transform: uppercase;
}

.program-running-category {
    text-align: left;
    font-size: 16px;
}

.program-running-duration {
    /*text-align: left;*/
    font-size: 16px;
}

.program-running-left {
    width: 100%;
    margin-top: 3%;
    float: left;
}

.program-running-right {
    width: 10%;
    padding-right: 3%;
    margin-top: 5px;
    float: left;
}

.card {
    background-color: transparent;
    box-shadow: none;
}

#circle1, #circle2, #circle3, #circle4{
background-image: url(../img/circle.png);
background-size: 100%;
width: 75px;
height: 75px;
padding-top: 5px;
position: relative;

right: 5px !important;
display: inline-block;
}

.card .item:nth-child(1) {
    background-color: #262261!important;
    opacity: 1;
    color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .item h2 {
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
}

.card .item p {
    color: #FFF;
    font-size: 20px;
}

.cardprogram .item:nth-child(1) {
    background-image: url(../img/program.png);
    background-size: 100%;
    opacity: 1;
    color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 10px;
}

.scroll {
    min-width: 100%;
}

.program-running-progress {
    width:80px;
    height:80px;
}


#profilepic {

width: 130px;
height: 130px;
border-radius: 100px;
border: 5px solid #262261;
}


.second-modal {
    background-repeat: repeat;
}

.modal-program-info-wrapper {

    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.program-info-modal-holder {

 background-color: #ffffff;
    border-radius: 10px;
    height: 75vh;
    margin: 30px auto;
    max-width: 85%;
    overflow: hidden;
    border:1px solid #262261;
    width: 100%;

}

.program-info-modal-mainbody {


color: #707070;
width: 90%;
margin: 5% auto 0px;
padding: 0px;
height: 51%;

overflow: hidden;

}


.program-info-modal-close-button {
font-family: !important;
color: #FFF;
font-size: 1.4em;
font-weight: bold;
position: absolute;
right: 32px;
top: 10px;
background-color: #0D0948;
padding-left: 6px;
padding-right: 5px;
border-radius: 5px;
padding-top: 2px;
padding-bottom: 2px;
    cursor: pointer;
}

.program-info-modal-header {

    moz-border-radius-topleft:10px;
    moz-border-radius-topright:10px;
    background-color: #79c3e1;
    width: 100%;
    height: 105px;
}

.program-info-modal {

   opacity: 1;
   background-image: none !important;
}


.program-info-modal-title {

    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    font-size:1.2em;
    font-weight: bold;
    padding-top: 38px;
    width: 100%;
    height: 30px;
}


.program-info-modal-running-time {

    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    font-size:1em;
    font-weight: normal;
    padding-top: 20px;
    width: 100%;
    height: 30px;  
}


.program-info-modal-button-holder {

    margin-top: 20px;
    text-align: center;
    width: 100%;
}


.bubbles-program-name-1 {
color: #FFF;font-weight: bolder;-webkit-text-stroke: 1px #999;
width: 110px;
overflow: hidden;
height: 60px;
margin-left: 85px;
margin-top: -85px;
text-align: center;

position: absolute;
}

.bubbles-program-name-2 {
color: #FFF;font-weight: bolder;-webkit-text-stroke: 1px #999;
width: 110px;
overflow: hidden;
height: 60px;
text-align: center;
margin-left: 197px;
margin-top: -85px;
position: absolute;
}

.bubbles-program-name-3 {
color: #FFF;font-weight: bolder;-webkit-text-stroke: 1px #999;
width: 110px;
overflow: hidden;
height: 60px;
margin-left: 85px;
margin-top: -85px;
text-align: center;
position: absolute;
}

.bubbles-program-name-4 {
color: #FFF;font-weight: bolder;-webkit-text-stroke: 1px #999;
width: 110px;
overflow: hidden;
height: 60px;
text-align: center;
margin-left: -25px;
margin-top: -85px;
position: absolute;
}
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableHead, .divTableCell {
  text-align:center;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableCell {
	background-color: #FFF!important;
	color: #000 !important;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

